#one{color:#09ff00 }
#four{background-color:#1b004d; font-size: 50px;  ; }
#two{color: #ff0000; text-decoration: none; } #three{color: red;text-decoration: none; } #five{color: red;text-decoration: none; }
#eight{margin: 0px;}

#ten{background-color: rgb(245, 175, 118);font-size: 50px; border: orange; text-decoration: mintcream; }
#eleven{color: red;}
.twelve{ color: rgb(55, 4, 240); text-decoration: none; }
#thirteen{margin-left: 0px; length: 250px; width: 1000px; }


#twenty{padding-top: 250px 
    ; padding-left: 150px; color: rgb(248, 0, 12); }

    span{border: 4px solid rgb(0, 0, 0);}
#thirty{padding-left: 150px; padding-right: 500px; padding-bottom: 0px; font-size: 30px; color: rgb(255, 8, 8);  }
#forty{border:4px solid black; }
#seventy{ font-size: 30px; background-color: blanchedalmond; color: rgb(83, 5, 5); }
.abc{text-decoration: none; font: size 40px;; }
#apple{font-size: 40px; background-color: rgb(175, 115, 10); }
#ab{font-size: 30px; background-color: moccasin; }
}